# Proyecto del Día 7 - Analizador de Ventas

### Objetivo
Crear un programa en Python que analice un conjunto de **datos de ventas de una tienda**. El programa debe realizar varias operaciones de Data Science para proporcionar información valiosa sobre las ventas de la tienda.

### Consigna

1. **Lectura de Datos**: Crea un DataFrame que contenga los datos provistos en el archivo **Datos_Ventas_Tienda.csv** provisto en esta lección. El archivo incluirá información como *fecha de venta*, *categoría de producto*, *cantidad vendida* y *precio*.
2. **Fusión de Datos**: Crea un segundo DataFrame que contenga los datos del archivo **Datos_Ventas_Tienda2.csv** (también provisto en esta lección), y concaténalos para tener un solo dataFrame con toda la información.

3. **Tratamiento de Datos**: Utiliza Pandas para manipular estos datos. Deberás realizar tareas como limpieza de datos, filtrado y  transformaciones básicas.
4. **Análisis de Ventas**: Realiza análisis para responder preguntas como:
- ¿Cuál es el producto más vendido?
- ¿Cuál es el mes con más ventas?
5. **Datos Agrupados**: Agrupa los datos por categoría de producto y analiza las ventas por categoría.
6. **Guardar Resultados**: Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.

In [3]:
import pandas as pd

In [5]:
# Lectura de datos
datos_tienda_1 = pd.read_csv("/Users/alejandrobueno/Documents/WWW/cursos,etc/Python/PythonTOTAL_DataScience/Datos_Ventas_Tienda.csv")
datos_tienda_2 = pd.read_csv("/Users/alejandrobueno/Documents/WWW/cursos,etc/Python/PythonTOTAL_DataScience/Datos_Ventas_Tienda2.csv")

In [21]:
# Fusión de datos
df_concatenado = pd.concat([datos_tienda_1, datos_tienda_2])
df_concatenado

        Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0   1/17/2023  Electrónic         7              200         1400
1    9/1/2023  Electrónic         8              200         1600
2   7/29/2023    Juguetes         3               30           90
3   10/4/2023   Alimentos         4               10           40
4   2/28/2023  Electrónic         6              200         1200
..        ...         ...       ...              ...          ...
45  9/11/2023    Juguetes        10               30          300
46   1/3/2023    Juguetes        10               30          300
47  11/7/2023   Alimentos         3               10           30
48  8/20/2023  Electrónic         6              200         1200
49  7/21/2023    Juguetes         3               30           90

[1050 rows x 5 columns]

In [19]:
#Limpieza
df_concatenado.isnull().sum()

Fecha              0
Producto           0
Cantidad           0
Precio Unitario    0
Total Venta        0
dtype: int64

In [69]:
#Transformaciones básicas
df_concatenado.head()
df_concatenado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1050 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1050 non-null   object
 1   Producto         1050 non-null   object
 2   Cantidad         1050 non-null   int64
 3   Precio Unitario  1050 non-null   int64
 4   Total Venta      1050 non-null   int64
dtypes: int64(3), object(2)
memory usage: 49.2+ KB

In [45]:
#Filtrado
filtrando_ventas = df_concatenado[df_concatenado["Total Venta"] >= 1200]

In [67]:
#Analisis de ventas
# Producto más vendido
mas_ventas = df_concatenado.sort_values("Total Venta", ascending=False)
mas_ventas.head(1)

         Fecha    Producto  Cantidad  Precio Unitario  Total Venta
583  1/12/2023  Electrónic        10              200         2000

In [107]:
# Mes con más ventas
df_concatenado["Fecha"] = pd.to_datetime(df_concatenado["Fecha"])
df_concatenado["month"] = df_concatenado["Fecha"].dt.month
df_venta_meses = df_concatenado.groupby("month")["Total Venta"].sum()
mes_mas_ventas = [df_venta_meses.idxmax(), df_venta_meses.max()]
mes_mas_ventas

[8, 45090]

In [123]:
#Datos agrupados
df_agrupado = df_concatenado.groupby("Producto")["Total Venta"].mean()
df_agrupado

Producto
Alimentos       56.339286
Electrónic    1074.889868
Juguetes       162.087379
Libros         107.422680
Ropa           283.417085
Name: Total Venta, dtype: float64

In [125]:
#Guardar y exportar
df_agrupado.to_excel("/Users/alejandrobueno/Documents/WWW/cursos,etc/Python/PythonTOTAL_DataScience/df_agrupado.xlsx")